
:root {
  --pink-color: #FB2E86;
  --sub-text-color: #8A8FB9;
  --third-color: #696ba0;
  --fourth-color: #101750;
  box-sizing: border-box !important;
}

.header {
  p {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px !important;
    color: #f1f1f1 !important;
    font-family: "Josefin Sans";
  }

  .up-header {
    background-color: #7e33e0;
    .up-header-container {
      color: white;
      height: 44px;
    }
  }

  .down-header {
    background-color: white;
  }
  .up-header {
    background-color: #7e33e0;
    .up-header-container {
      color: white;
      height: 44px;
      .right-menu {
        div {
          cursor: pointer;
        }
      }

      .bi-cart {
        cursor: pointer;
      }
    }
  }

  .bi-cart {
    font-size: 18px;
  }

  .dropdown-start {
    position: relative;
    .add-to-cart-btn {
      background-color: var(--pink-color) !important;
      color: white;
      border-radius: 0px !important;
      width: fit-content;
      padding: 7px 12px;
      text-align: center;
      font-size: 15px;
      cursor: pointer;
      margin-left:20px;
    }
    .add-btn {
      background-color: var(--third-color) !important;
      color: white;
      border-radius: 5px !important;
      width: fit-content;
      padding: 4px 6px;
      text-align: center;
      font-size: 12px;
      cursor: pointer;
      margin-top: 5px;
    }
    .dropdown-menu {
      // border: 1px solid var(--sub-text-color) !important;
      position: absolute !important;
      left: -250px;
      border: none;
      margin-top: 10px !important;
      max-width: 400px !important;
      cursor: default !important;
      & > div > p {
        color: var(--pink-color) !important;
        cursor: default;
        font-size: 26px !important;
        font-weight: bold;
        font-family:Arial, Helvetica, sans-serif;
      }
      h3 {
        color: var(--fourth-color);
        cursor: default;
      }
      .link-btn {
        background-color: var(--pink-color) !important;
        color: white;
        border-radius: 0px !important;
        width: fit-content;
        padding: 8px 20px;
        text-align: center;
        cursor: pointer;
      }
      .dropdown-item {
        display: flex;
        border-radius: 5px;
        padding: 20px 20px;
        cursor: default;
        &:hover {
          background-color: white !important;
        }
        .item-img {
          width: 80px !important;
          height: 90px;
          padding: 10px;
          border-radius: 10px;
          cursor: default;
          img {width: 100%; height: 100%;}
        }
        .item-details {
          margin-top: 10px;
          cursor: default;
          p {
            width: 150px;
            color: var(--fourth-color) !important;
            white-space:nowrap; 
            overflow: hidden; 
            text-overflow: ellipsis !important; 
            cursor: default;
            font-size: 14px !important;
          }
        }
        .rm-wishlist {
          color: var(--third-color);
          cursor: pointer;
          margin-top: 12px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .dropdown-menu {
      left: -8px !important;
    }
  }
}
