.header {
  p {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px !important;
    color: #f1f1f1 !important;
    font-family: "Josefin Sans";
  }

  .up-header {
    background-color: #7e33e0;
    .up-header-container {
      color: white;
      height: 44px;
    }
  }

  .down-header {
    background-color: white;
  }
  .up-header {
    background-color: #7e33e0;
    .up-header-container {
      color: white;
      height: 44px;
      .right-menu {
        div {
          cursor: pointer;
        }
      }
      .bi-cart {
        cursor: pointer;
      }
    }
  }

  .bi-cart {
    font-size: 18px;
  }
}
