:root {
    --pink-color: #FB2E86;
    --sub-text-color: #8A8FB9;
    --third-color: #696ba0;
    box-sizing: border-box !important;
}
body {
    margin: 0;
    padding: 0;
}

.featured-card {
    height: 320px;
    border: 0px !important;
    margin-top: 20px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    transition: .5s;

    .card-img {
        position: relative;

        ul {

            position: absolute;
            left: 15px;
            top: 40px;
            li {
                &:first-of-type {
                    transform: translateY(-1px);
                }

                margin-top: 5px;
                font-size: 20px;
                color: var(--third-color);
                cursor: pointer;
                &:hover {
                    color: var(--pink-color);
                }
            }
        }
        img {
            transform: translateY(40px);
            width: 100px;
            height: 100px;
        }
    }

    .card-body { 
        h5 {color: var(--pink-color);}
        p  {color: #151875; margin-top: 20px;}
        .product-title {
            width: 200px;
            white-space:nowrap; 
            text-overflow: ellipsis; 
            overflow: hidden; 
        }
        .product-price{font-size: 22px;}
    }
    .link-btn {
        background-color: var(--pink-color);
        width: 100%;
        text-align: center;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding-bottom: 8px;
        padding-top: 8px;
        cursor: pointer;
        color: white !important;
    }
}


.home {
    overflow: hidden;
    width: 100%;
    position: relative;

    .subheader {

        background: #F2F0FF;
        width: 100%;
        min-height: 500px;

        .left {
            width: 600px;

            p:first-of-type {color: var(--pink-color);}    
            p:last-of-type {color: var(--sub-text-color); }

            h3 {
                margin-bottom: 12px;
                margin-top: 12px;
                font-family: 'Josefin Sans';
            }

            .btn {
                background-color: var(--pink-color);
                color: white;
                width: 163px;
                border-radius: 0px !important;
                margin-top: 27px;
            }

        }

        .right {
            position: relative;
            z-index: 100;
            &::after {
                content: '';
                background: #ECD2FA59;
                position: absolute;
                border-radius: 52% 48% 49% 51% / 51% 57% 43% 49% ;
                width: 400px;
                height: 400px;
                top: -30px;
                left: 40px;
                z-index: -1;
            }
            &::before {
                content: '';
                background: #ECD2FA59;
                position: absolute;
                border-radius: 52% 48% 49% 51% / 51% 57% 43% 49% ;
                width: 400px;
                height: 400px;
                z-index: -1;
            }
            .discount {
                font-size: 22px;
                font-family: 'Josefin Sans';
                font-weight: bold;
                border-radius: 33% 67% 70% 30% / 58% 38% 62% 42% ;
                width: 100px;
                height: 100px;
                background-color: #00C1FE;
                color: white;
                right: 50px;
                position: absolute;
                z-index: 100;
                top: -30px;
                right: -10px;
            }
        }

        .canape_img {
            width: 400px;
            transform: translateY(30px);
            margin-left: 20px;
            position: relative;
        }

        .lamp_img {
            position: absolute;
            left: -5px;
            width: 100px;
            top: 0px;
        }

    }
    .offer_card {
        i {
            font-size: 32px;
            color: var(--pink-color);
        }
        h5 {color: var(--third-color);}
        p {
            color: var(--sub-text-color);
            font-size: 14px;
        }
    }
    .unique-feature {
        background: #F1F0FF;
        position: relative;
        .unique-img {
            width: 300px !important;
            border-radius: 30px !important;
        }
        ul {
            li {
                color: var(--sub-text-color);
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    left: -20px;
                    top: 7px;
                }
                &:first-child {
                    &::before {
                        background-color: var(--pink-color);
                    }
                }
                &:nth-child(2) {
                    &::before {
                        background-color: var(--third-color);
                    }
                }
                &:nth-child(3) {
                    &::before {
                        background-color: #2BF5CC;
                    }
                    }
                }
        }
        .add-to-cart-btn {
            background-color: var(--pink-color) !important;
            color: white;
            border-radius: 0px !important;
            width: 150px;
            padding: 10px;
        }
    }
    .discount-item {
        h5 {color: var(--pink-color);}
        p  {color: var(--sub-text-color);}
        .btn {
            background-color: var(--pink-color);
            color: white;
            border-radius: 0px !important;
            width: 150px;
        }
        img {
            width: 250px !important;
        }
    }
    .latest-update {
        overflow: hidden;        
        height: 450px;
        position: relative;
        .background-img {

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 450px;
                z-index: -1;
                
            }
        }
        .content{transform: translateY(100%);}
        .btn {
            background-color: var(--pink-color);
            color: white;
            border-radius: 0px !important;
            width: 150px;
        }
    }
}   
